.link-btn {
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    outline: none;
    border: 1px solid $vivid-red;
    background-color: white;
    color: $vivid-red;
    font-family: $text-font-stack;
    font-weight: 700;
    font-size: 1.1rem;

    &:hover {
        background-color: $vivid-red;
        color: white;
    }
}

button a {
    color: $vivid-red;
}