.list {
    h5 {
        font-size: 1.25rem;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 500;
    }

    ul {
        list-style-type: none;
    }

    li {
        font-size: 1.125rem;
        font-weight: 300;
        padding-bottom: 5px;
    }
}

.list__header {
    font-size: 1.375rem;
    padding-bottom: 15px;
}
