.icon {
    background-repeat: no-repeat;
    background-size: contain
}

.icons__github {
    background-image: url("/images/icons/github.svg");
}

.icons__linkedin {
    background-image: url("/images/icons/linkedin.svg");
}

.icons__email {
    background-image: url("/images/icons/email.svg");
}