.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: $break-medium) {
        justify-content: center;
    }
}

.gallery-item {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 38vw;
    float: left;
    flex: 0 0 auto;
    height: 22.5vw;
    margin-bottom: 4%;
    position: relative;
    transition: box-shadow .3s;

    // only do hover effects on larger screens
    @media screen and (min-width: $break-medium) {
        &:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.5);
            cursor: pointer;
        }

        &:hover > .gallery-item__text {
            height: 200px;

            p {
                display: block;
            }
        }

        &:hover > .cover {
            opacity: 0.5;
        }
    }

    @media screen and (max-width: $break-medium) {
        width: 85vw;
        height: 50vw;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

.gallery-item__text {
    position: absolute;
    padding-left: 20px;
    max-width: 75%;
    color: white;
    overflow-y: hidden;
    bottom: 0;
    height: 100px;
    transition: height .3s;

    h1 {
        font-family: $text-font-stack;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 15px;
    }

    ul {
        font-family: $text-font-stack;
        font-weight: 300;
        font-size: 0.9rem;
        list-style-type: none;
        padding-bottom: 20px;
    }

    li {
        display: inline-block;
        padding-right: 20px;
    }

    @media screen and (max-width: $break-medium) {
        height: 100px;
    }

    p {
        display: none;
    }
}

.cover {
    opacity: 0.0;
    height: inherit;
    width: inherit;
    transition: opacity .3s ease;
}