<footer>
    <h3>Let's Connect</h3>
    <div class="homepage-content">
        <ul>
            <li>
                <a class="icon icons__github" href="https://github.com/garycheung13/">
                    Github
                </a>
            </li>
            <li>
                <a class="icon icons__linkedin" href="https://www.linkedin.com/in/gary-cheung-004001ba/">
                    Linkedin
                </a>
            </li>
            <li>
                <a id="footer-email" class="icon icons__email" href="">
                    Email
                </a>
            </li>
        </ul>
    </div>
</footer>