 <!-- ignore empty links with + -->
 {{ $headers := findRE "<h[3-6] class=\"toc-header\".*?>(.|\n])+?</h[3-6]>" .Content }}
 <!-- at least one header to link to -->
 {{ $has_headers := ge (len $headers) 1 }}
 <!-- a post can explicitly disable Table of Contents with toc: false -->
 {{ $show_toc := (eq $.Params.toc true) }}
 {{ if and $has_headers $show_toc }}
    <div class="col-one content-nav" id="table-of-contents">
        <!-- TOC header -->
        <h2>Table of Contents</h2>
        <ul>
        <li class="active" style="display: none;">Temporary Workaround. If you see this, the script is broken</li>
        {{ range $headers }}
            {{ $header := . }}
            {{ range first 1 (findRE "<h[3-6]" $header 1) }}
                {{ range findRE "[3-6]" . 1 }}
                    {{ $next_heading := (int .) }}
                    {{ $base := ($.Page.File.LogicalName) }}
                    {{ $anchorId := ($header | plainify | htmlEscape | urlize) }}
                    {{ $href := delimit (slice $base $anchorId) "#" | string }}
                    <li class="toc-h{{ . }}">
                        <a href="{{ relref $.Page $href }}">
                            {{ $header | plainify | htmlEscape }}
                        </a>
                    </li>
                {{end}}
            {{end}}
        {{ end }}
        </ul>
    </div>
 {{ end }}